<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:with="datetime=${#calendars.format(#calendars.createNow(),'yyyyMMddHHmmssSSS')}">
    <script th:src="@{/js/dummy.js}"></script>
    <link rel="stylesheet" th:href="@{/css/engineer.test.1.css(time=${datetime})}"/>

    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/main.css}">

    <title>TOP</title>
</head>
<body>

<nav th:insert="header.html :: header"></nav>

<div class="full height image">
    <div class="ui main container">
        <div class="menu bar"></div>
        <div class="ui information container center aligned">
            <h1 class="bland-message" style="top:80px;">
                <font size="7" face="Broadway">Tiscon Insuranceお申込みフォーム</font>
            </h1>
            <!--岡嶋タイトル変更-->
            <h2 class="bland-message">
                <font size="4" face="游ゴシック Light 見出し">多彩なチカラが、広げる未来。</font>
            </h2>
            <h2 class="bland-message">
                <font size="4" face="游ゴシック Light 見出し">ご希望の商品をお選びいただき「申込み」ボタンを押してください。</font>
            </h2>
            <div class="index-block">
                <div class="index-icon" style="border:solid 3px #228b22;">
                    <img src="/img/tiscontreat2.png" width="220" height="120">
                    <p class="index-text" style="top:40px;">★病気、ケガに備える</p>
                    <a href="/action/order/accept?insuranceType=treat" class="index-button"
                       style="top:90px; background-color: #228b22;">
                        申し込み
                    </a>
                </div>
                <div class="index-icon" style="border:solid; border-color:#ff1493;">
                    <img src="/img/icon_treatLady2 (2).png" width="230" height="145">
                    <p class="index-text" style="top:10px;">★病気、ケガに備える</p>
                    <p class="index-text" style="top:10px;"><u>★女性特有の病気への特約がついた医療保険です。</u></p>
                    <a href="/action/order/accept?insuranceType=treatLady" class="index-button"
                       style="top:25px; background-color: #ff1493;">
                        申し込み
                    </a>
                </div>

                <div class="index-icon" style="border:solid 3px #0174DF;">
                    <img src="/img/tisconfuture2.png" width="230" height="130">
                    <p class="index-text" style="top:30px;">★がんに備える</p>
                    <a href="/action/order/accept?insuranceType=future" class="index-button"
                       style="top:80px; background-color: #0174DF;">
                        申し込み
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>
</div></body>
</html>
